/*========== COR DA SELEÇÃO DE TEXTO ==========*/
::selection {
    color: white;
    background-color: var(--azul-claro);
}

/*========== ESTILIZAÇÃO DA BARRA DE SCROLL ==========*/
body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-track {
    background: rgb(240, 240, 240);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--azul-claro);
    border-radius: 20px;
    border: 2px solid rgb(240, 240, 240);
}